@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap");

:root {
	--Red: hsl(0, 78%, 62%);
	--Cyan: hsl(180, 62%, 55%);
	--Orange: hsl(34, 97%, 64%);
	--Blue: hsl(212, 86%, 64%);
	--Very-Dark-Blue: hsl(234, 12%, 34%);
	--Grayish-Blue: hsl(229, 6%, 66%);
	--Very-Light-Gray: hsl(0, 0%, 98%);
}

*,
*::before,
*::after {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	font-family: "Poppins", sans-serif;
	font-size: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	color: var(--Grayish-Blue);
}

h1 {
	text-align: center;
	font-weight: 200;
	color: var(--Very-Dark-Blue);
}

h1 span {
	font-weight: 600;
	display: block;
}

main {
	max-width: 375px;
	margin-top: 50px;
	text-align: center;
}

p {
	text-align: center;
}

.container {
	margin: 25px 0;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	padding: 25px 25px;
	box-shadow: 0 5px 20px rgb(10 13 57 / 15%);
	border-radius: 5px;
}

h2 {
	align-self: start;
	color: var(--Very-Dark-Blue);
}

.container p {
	text-align: left;
	align-self: start;
}

.image {
	padding-top: 30px;
	align-self: flex-end;
}

.cyan {
	border-top: 5px solid var(--Cyan);
}

.red {
	border-top: 5px solid var(--Red);
}

.orange {
	border-top: 5px solid var(--Orange);
}

.blue {
	border-top: 5px solid var(--Blue);
}

@media (min-width: 600px) {
	main {
		max-width: 1200px;
	}

	.cards {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.cards__center {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	.container {
		width: 375px;
		margin-right: 50px;
	}

	.description {
		max-width: 500px;
		transform: translate(68%, 0%);
		padding: 20px 0 40px;
	}
}
